body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;

}


header p {
    font-size: 0.8em;
    /* EM drückt ein Verhältniss aus --> vorteil gegenüber px da es sich immer um verhältnisse handelt */
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    /*Abstand vom Rand/ in diesemfall von Rechts */
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color: white;
}

header nav img {
    border-radius: 50%;
}

a:link,
a:visited {
    color: black;
    /* text-decoration: none; = nimmt unterstrich weg */
}

header nav address {
    font-size: 0.9em;
    font-style: italic;
}

main {
    max-width: 70%;
    margin: auto;
}

main p {
    text-align: justify;

}

main figure {
    margin-left: 0;
    width: 100%;
}

main figure img {
    width: 100%;
    border: 1px solid black;
}

#map {
    /* # bezieht sich auf id´s */
    width: 100%;
    height: 360px;
    border: 1px solid grey;
}

main ul {
    list-style-type: circle;
}

footer {
    width: 100%;
    padding: 1em 0 3em 0;
}
footer .back {
    float: left;
}
footer .next {
    float: right;
}